In [13]:
import pandas as pd

In [14]:
data = {'Grade':['A','A','A','B','B','C','C','D'], 'Score':[1,1,0,1,1,0,0,1]}
datadf = pd.DataFrame(data)

In [15]:
datadf

  Grade  Score
0     A      1
1     A      1
2     A      0
3     B      1
4     B      1
5     C      0
6     C      0
7     D      1

In [16]:
datadf['Score'].value_counts()

Score
1    5
0    3
Name: count, dtype: int64

In [17]:
datadf.groupby('Grade')['Score'].count() #count() will count the number of rows of A, B, etc. It will count the rows even if Grade column has zero value

Grade
A    3
B    2
C    2
D    1
Name: Score, dtype: int64

In [18]:
datadf.groupby('Grade')['Score'].sum()

Grade
A    2
B    2
C    0
D    1
Name: Score, dtype: int64

In [19]:
datadf.groupby('Grade')['Score'].mean() #imp to note that the mean() method gives the average of the scores corresponding to the grade only. It is sum of score for A/ count of scores in A. To get scores as a fraction of TOTAL score, we need count of score for A/ sum of Scores

Grade
A    0.666667
B    1.000000
C    0.000000
D    1.000000
Name: Score, dtype: float64

In [20]:
datadf2 = datadf.groupby('Grade').agg({'Score':['count','sum','mean']})

In [21]:
datadf2.reset_index(inplace=True)

In [22]:
datadf2.columns = ['Grades','Score count','Score sum','Score mean']
datadf2

  Grades  Score count  Score sum  Score mean
0      A            3          2    0.666667
1      B            2          2    1.000000
2      C            2          0    0.000000
3      D            1          1    1.000000

In [23]:
datadf2['Prop of Total Scores'] = datadf2['Score count']/ datadf2['Score count'].sum()
datadf2 # prop of scores gives the fraction of total scores present in each Grade - this is different from the mean of grade-wise score, which the fraction of good scores present wrt scores in a category (not across all grades).

  Grades  Score count  Score sum  Score mean  Prop of Total Scores
0      A            3          2    0.666667                 0.375
1      B            2          2    1.000000                 0.250
2      C            2          0    0.000000                 0.250
3      D            1          1    1.000000                 0.125